################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VapeCalculator/v14
/packages/LiteDB.2.0.4
/VapeCalculator/bin/Debug
/VapeCalculator/obj/Debug
/VapeCalculator.sln
